# cp .env.example .env
DB_NAME=nuevo_horizonte
DB_USERNAME=postgres
DB_PASSWORD=cambia-esta-clave
DB_PORT=5432

# SEGURIDAD
JWT_SECRET=cambia-esta-clave-por-una-generada-al-azar
COOKIE_SECURE=false

# FRONTEND
FRONTEND_URL=http://localhost
APP_PORT=80

DOMAIN=
CERTBOT_EMAIL=

# SEEDS DEMO
SEED_DEMO_USUARIOS=true

# VARIABLES RESEND
EMAIL_ENABLED=false
RESEND_API_KEY=
MAIL_FROM=onboarding@resend.dev
